@media(max-width:1024px){
  .carousel-right {
    right:150px !important;
  }
  .carousel-left {
    left:150px !important;
  }
  .carousel {
    ul.slides {
      li {
        padding:0 150px
      }
    }
  }
}

@media(max-width:640px){
  .carousel-right {
    right:10px;
  }
  .carousel-left {
    left:10px;
  }
  .carousel {
    ul.slides {
      li {
        padding:0;
      }
    }
  }
}
