@media(max-width:640px){
  section {
    padding:60px 15px 15px 15px;
  }
}


@media(min-width:1460px) {
  section {
    padding:120px 150px 50px 150px;
  }
  section#welcome {
    height:100vh;
    > div {
      height:700px;
    }
  }
}
