
.dropdown-toggled::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: .25em;
}

.dropdown-toggled::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  background-color: $grey;
  outline: 1px solid $light-grey;
  border-radius: 25px;
}

.modal-content::-webkit-scrollbar {
  width: .5em;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: $grey;
  outline: 1px solid $light-grey;
  border-radius: 25px;
}
