.dropdown-toggled::-webkit-scrollbar,
.dropdown-ajaxified::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: .25em;
}
.modal-content-ajaxified::-webkit-scrollbar {
  width: .5em;
}
.dropdown-toggled::-webkit-scrollbar-thumb,
.dropdown-ajaxified::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb{
  background-color: $grey;
  outline: 1px solid $light-grey;
  border-radius: 25px;
}
.modal-content-ajaxified::-webkit-scrollbar-thumb {
  background-color: $grey;
  outline: 1px solid $light-grey;
  border-radius: 25px;
}


